@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #000;
}

.text-color {
  @apply text-green-700;
}

.text-hover {
  @apply hover:text-green-700;
}

.bg-color {
  @apply bg-green-700;
}

.cont {
  @apply container mx-auto px-5;
}

.card {
  @apply bg-white rounded-3xl bg-opacity-10 backdrop-blur-md mb-5 md:mb-10;
}

.scroll-m {
  scroll-margin: 100px;
}

.card-2 {
  @apply bg-gray-200 rounded-3xl bg-opacity-5 backdrop-blur-md p-5 md:p-8;
}

.word {
  @apply uppercase text-color;
}

.title {
  @apply font-title uppercase mb-5 text-2xl md:text-3xl;
}

.text {
  @apply font-main text-gray-300 leading-9;
}
